

* 
{
    font-family: HelveticaNeueW01-Thin, HelveticaNeueW02-Thin, HelveticaNeueW10-35Thin, sans-serif;
}

.b1-image-and-button button::after {
    content: "\2573";
    font-size: 25px;
    color: #858f96;
  }


button {
    background-color: transparent;
    border: none;
}

.blue {
    color: #459fed;
  }

.fb {
    background-image: url(imgs/fb.png);
}

.google {
    background-image: url(imgs/google.png);
}

.login input {
    font-size: 20px;
    border: none;
}

.login button {
    font-size: 20px;
    font-weight: 400;
    color: #3899ec;
    box-shadow: inset 0 0 0 1px #3899ec;
    border: 1px solid #3899ec;
    border-radius: 45px;
}

.divider{
    background-color: #858f96;
    opacity: 0.8;
}

.login input {
    border-bottom: 1px solid #858f96;
}