

we what this on all elemetns
{
    font-family: HelveticaNeueW01-Thin, HelveticaNeueW02-Thin, HelveticaNeueW10-35Thin, sans-serif;
}

button {
    background-color: transparent;
    border: none;
}


.login input {
    /* font-size: ? */
    border: none;
}

.login button {
    /* font-size: ? */
    /* font-weight: ? */
    color: #3899ec;
    box-shadow: inset 0 0 0 1px #3899ec;
    border-radius: 45px;
}
